<head>
<script type="text/javascript">
function delayedRedirect(){
	window.location = "<%= @target_url %>"
}
window.onLoad = setTimeout(delayedRedirect, 3000)
</script>
</head>

<h2>Redirecting to <%= @target_url %> in 3 seconds</h2>


</body>